/* General */
*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body {
	background: #fdf2d4;
    color: #1E1E1E;
    font-family: "Noto Sans", sans-serif;
    font-weight: 300;
}

header, footer{
    background: #678677;
    width: 100%;
    color: #fdf2d4;
}

/* Header */
header {
    display: flex;
    justify-content: space-around;
}

#logo h2, #enlaces{
    align-self: center;
}

#logo{
    font-family: "Cinzel", serif;
    display: flex;
}

header img {
    width: 100px;
}

#enlaces a{
    text-decoration: none;
    color: #fdf2d4;
    padding: 0px 20px;
}

#enlaces a:hover{
    color:#ae8b4f;
}

/*Cuerpo*/

#contenedor_titulo{
    width: 100%;
    text-align: center;
}

#contenedor_titulo div{
    width: 100%;
    opacity: 70%;
    background-image: url("/static/images/PlazaComún.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

#contenedor_titulo h1{
    font-family: "Cinzel", serif;
    color:#fdf2d4;
    padding: 80px 0px;
}


#contenedor_secundario, .contenedor_preguntas{
    width: 70%;
    margin: auto;
    padding: 20px 0px;
}

#contenedor_secundario{
    text-align: center;
    border-bottom: 1px groove #ae8b4f;
}

#contenedor_secundario h2{
    color: #ae8b4f;
    font-family: "Cinzel", serif;
    padding: 15px;
}

.preguntas{
    padding-bottom: 10px;
}

.preguntas p{
    font-weight: bold;
    color: #ae8b4f;
}


/*Footer*/
footer{
    text-align: center;
    padding: 15px 0px;
    margin-top: 20px;
    clear: both;
}