<!DOCTYPE HTML>
<html>
	<head>
		<title>Hotel Artemisa</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css', _external=True) }}" />
	</head>
	<body>
		<div id="header">
			<img src="{{ url_for('static', filename='/images/logoSinFondo.png', _external=True) }}">
		</div>
		{% block body %}
		
		{% endblock %}
        <footer>

        </footer>
	</body>
</html>