{% extends "base.html" %}

{% block body %}

 <div>
        {% with nombre_carrusel='carrusel_principal', 
                imagenes=['images/playa.jpeg', 'images/pileta3.webp', 'images/playa2.jpg', 
                'images/exteriorHotel.jpg'], cantidad_diapositivas=4 , tipo_imagen='imagenes_carrusel_principal',
                pasadores=false%}
            {% include 'carrusel.html' %}
        {% endwith %}
</div>

<div id="presentacion_hotel">
    <h6 id="bienvenida_presentacion">Bienvenido al Hotel Artemisa</h6>
    
    <hr class="divider" id="divider_bienvenida">

    <h1 class="titulo_presentacion">Encuentra pura dicha en nuestro resort en Copacabana, Brazil</h1>
    <p>Haga que esta temporada brille con una estancia tropical en nuestro hotel.
        Con vistas cinematográficas, disfrute de Caipirinhas junto a la piscina con
        vistas al atardecer y déjese bañar por el sol en la arena dorada de la playa
        de Copacabana. Nuestro hotel ha sido un ícono frente a la playa brasileña
        durante casi un siglo, y la sensación de glamour y naturaleza está viva a cada paso.
        <br><br>
        Su bienestar es nuestra principal prioridad y esperamos brindarle actividades
        para que explore de manera segura Copacabana y las playas cercanas Flamingo Beach
        y Wind Creek, solo para adultos. En minutos, el taxi acuático de nuestro hotel lo
        llevará a nuestra isla privada de 40 acres, donde los flamencos deambulan libremente
        y le esperan tratamientos relajantes en nuestro Spa. Y, con la gran variedad de restaurantes
        y bares que sirven de todo, desde cócteles artesanales hasta filetes auténticos, la experiencia
        gastronómica perfecta nunca está lejos.
    </p>
</div>

<hr class="divider">

<div id="servicios_home">
    <h3 class="titulo_presentacion"> ¿Por qué te encantará Artemisa?</h3>
    <div class="contenido_servicios">
        <img class="imagen_servicio_home_izquierda"
            src="{{ url_for('static', filename='images/pileta1.jpg', _external=True) }}">
        <p class="texto_complementario_derecha">Nuestra piscina cuenta con bar integrado donde podrás disfrutar
            de las bebidas de tu preferencia, así como también una zona donde podrás asistir a también nuestras
            clases de aeróbics acuáticos, ejercicios que combinan movimiento y flexibilidad con la tranquilidad
            de flotar en el agua rodeados de un hermoso follaje tropical. En estas sesiones gratuitas, un instructor
            le guiará a través de los ejercicios con música animada para disfrutar de una experiencia divertida y
            vigorizante.
            <br><br>
        </p>
    </div>
    <div class="contenido_servicios">

        <p class="texto_complementario_izquierda">A la par de los mejores restaurantes de Copacabana, Hotel Artemisa
            ofrece experiencias gastronómicas para todos los gustos. Nuestro personal experimentado trae vivos todos
            los colores y sabores de Copacabana. Los huéspedes del hotel pueden disfrutar de una excelente cena en el
            restaurante donde podrán saborear la cocina tropical.
            <br><br>
        </p>
        <img class="imagen_servicio_home_derecha"
            src="{{ url_for('static', filename='images/restaurante2.jpg', _external=True) }}">
    </div>
    <div class="contenido_servicios">
        <img class="imagen_servicio_home_izquierda"
            src="{{ url_for('static', filename='images/restaurante1.jpg', _external=True) }}">
        <p class="texto_complementario_derecha"> También contamos con una cafetería/pastelería en el lugar para que pueda
            comenzar su día en Copacabana con su café recién hecho favorito y unos deliciosos dulces. Las opciones
            gastronómicas
            son infinitas en nuestro hotel, así que asegúrese de visitar todos nuestros restaurantes y disfrutar de una
            aventura
            culinaria como ninguna otra que se pueda encontrar en Copacabana <br><br>
        </p>
    </div>
    <div class="contenido_servicios">

        <p class="texto_complementario_izquierda">Con el servicio de guardería para mascotas puedes salir a explorar la
            ciudad
            teniendo la seguridad de que tu amigo peludo estará recibiendo los mejores cuidados en nuestro hotel.
            También puedes disfrutar con tu mascota en las áreas de juego designadas para su entretenimiento, las mismas
            se dividen
            en zona de gatitos y zona de perritos.
            <br><br>
        </p>
        <img class="imagen_servicio_home_derecha"
            src="{{ url_for('static', filename='images/petCares.jpeg', _external=True) }}">
    </div>
    <a href="servicios">
        <button type="button" class="boton">Ver Más</button>
    </a>

</div>
<hr class="divider">

<div id="habitaciones_home">
    <h3 class="titulo_presentacion">Habitaciones y suites</h3>
    <div id="contenido_habitaciones_home">
        <p id="texto_habitaciones_home">Hotel Artemisa está listo para darle la bienvenida a la
            comodidad frente al mar. Todas las habitaciones y suites del hotel cuentan con increíbles
            vistas al océano, al puerto deportivo o a la isla que te dejarán sin aliento. Tenemos la
            habitación o suite ideal para su escapada a Copacabana. Eche un vistazo a todos nuestros
            diseños de habitaciones para encontrar una configuración ideal para usted.
            <br><br>
        </p>
        {% with nombre_carrusel='carrusel_habitaciones', 
                imagenes=['images/Ejecutiva1.jpg', 'images/Ejecutiva3.jpg', 'images/SuiteJunior1.jpg', 
                'images/Twin2.jpg'], cantidad_diapositivas=4 , tipo_imagen='imagenes_carrusel_habitaciones', pasadores=True %}
            {% include 'carrusel.html' %}
        {% endwith %}
        
    </div>
    <a href="habitaciones">
    <button class="boton boton_habitaciones">Ver Más</button>
    </a>
</div>

<hr class="divider">

<div id="reseñas">
    <h3 class="titulo_presentacion">¿Qué opinan nuestros huéspedes?</h3>
    
</div>
<hr class="divider">
<div id="galeria">
    <h3 class="titulo_presentacion">explora el hotel con nuestra galería</h3>

    {% with nombre_carrusel='carrusel_galeria', 
                imagenes=['images/edificioHotel.jpg', 'images/exteriorHotel2.jpg','images/PlazaComún.jpg',
                'images/Ejecutiva1.jpg', 'images/Ejecutiva2.jpg','images/Ejecutiva3.jpg','images/SuiteJunior1.jpg', 
                'images/lobby.jpg', 'images/petCare1.jpg','images/petCare2.jpg','images/petCare3.jpg', 
                'images/pileta1.jpg', 'images/pileta2.jpg','images/restaurante2.jpg','images/spa1.jpg', 
                'images/Twin2.jpg'], cantidad_diapositivas=16, tipo_imagen='imagenes_carrusel_galeria', pasadores=True %}
            {% include 'carrusel.html' %}
    {% endwith %}


</div>
{% endblock %}