{% extends "base.html" %}
{% block body %}
   <div id="preguntas_frecuentes">
      <div id="contenedor_titulo">
         <div>
            <h1>Preguntas Frecuentes</h1>
         </div>
      </div>
      <div id="contenedor_secundario">
         <h2>Nuestro objetivo es hacer que su estancia con nosotros sea lo más agradable posible.</h2>
         <p>
            Hemos recopilado una lista de algunas de las preguntas más frecuentes acerca de alojarse en 
            Hotel Artemisa.
            <br>
            Si aún no encuentra la respuesta a su consulta, no dude en ponerse en contacto 
            y estaremos más que dispuestos a ayudarle
         </p>
      </div>
      <div class="contenedor_preguntas">
         <div class="preguntas">
            <p>¿A partir de qué horario puedo realizar el check-in?</p>
         </div>
         <div class="respuestas">
            <p>Su habitación estará disponibles a partir de las 13:00. 
               En el caso de que llegue por la mañana, puede dejar su equipaje en el hotel de 
               manera gratuita hasta que la habitación esté lista.</p>
         </div>
      </div>
      <div class="contenedor_preguntas">
         <div class="preguntas">
            <p>¿A qué hora tengo que realizar el check-out?</p>
         </div>
         <div class="respuestas">
            <p>El día de su partida, podrá disponer de su habitación hasta el mediodía. 
               Si su vuelo sale más tarde y desea salir para aprovechar sus últimas horas en la ciudad,
               podemos guardarle su equipaje de manera gratuita.</p>
         </div>
      </div>
      <div class="contenedor_preguntas">
         <div class="preguntas">
            <p>¿Hay acceso de Wi-Fi en el hotel? ¿Es gratuito?</p>
         </div>
         <div class="respuestas">
            <p>Sí. Hay acceso a Internet inalámbrico (Wi-Fi) de banda ancha en todo el hotel</p>
         </div>
      </div>
      <div class="contenedor_preguntas">
         <div class="preguntas">
            <p>Vamos a viajar en avión. ¿Cuentan con servicio de traslado desde el aeropuerto?</p>
         </div>
         <div class="respuestas">
            <p>Sí, en el hotel contamos con una línea de taxis exclusiva para nuestros clientes, 
               si desea el servicio de traslado desde el aeropuerto no olvide indicarlo cuando realice
               la reserva en el hotel.
            </p>
         </div>
      </div>
      <div class="contenedor_preguntas">
         <div class="preguntas">
            <p>¿Se puede fumar en las habitaciones?</p>
         </div>
         <div class="respuestas">
            <p>No. Todas las habitaciones cuentan con un detector de humo muy sensible 
               y está prohibido fumar en las habitaciones y todo el hotel.</p>
         </div>
      </div>
      <div class="contenedor_preguntas">
         <div class="preguntas">
            <p>¿Aceptan animales?</p>
         </div>
         <div class="respuestas">
            <p>Sí, aceptamos mascotas. Le invitamos a que nos indique este detalle en su reserva.</p>
         </div>
      </div>
      <div class="contenedor_preguntas">
         <div class="preguntas">
            <p>¿Cuál es el horario del desayuno?</p>
         </div>
         <div class="respuestas">
            <p>El desayuno tipo buffet se sirve de 6:30 a 10:00 en el restaurante de planta baja.</p>
         </div>
      </div>
      <div class="contenedor_preguntas">
         <div class="preguntas">
            <p>¿Qué pueden ofrecerme fuera del horario del desayuno buffet?</p>
         </div>
         <div class="respuestas">
            <p>En el último piso del hotel contamos con un restaurante abierto en el horario de 18:00 a 00:00,
               donde se pueden deleitar con nuestra amplia variedad de platos y tragos de autor.
               También podrán disfrutar de nuestras ricas meriendas de 14:30 a 19:00 en el restaurante de planta baja.</p>
         </div>
      </div>
      <div class="contenedor_preguntas">
         <div class="preguntas">
            <p>¿Puedo modificar las fechas de mi reserva?</p>
         </div>
         <div class="respuestas">
            <p>Sí, se pueden realizar modificaciones en su reserva solo 24 horas antes de la misma.
            </p>
         </div>
      </div>
      <div class="contenedor_preguntas">
         <div class="preguntas">
            <p>¿Qué formas de pago acepta el hotel?</p>
         </div>
         <div class="respuestas">
            <p>Se aceptan las siguientes formas de pago: efectivo, cheque, Visa, Mastercard, American Express.
               Podría solicitarse un documento de identificación para pagos con cheque y tarjeta bancaria</p>
         </div>
      </div>
   </div>
   
{% endblock %}