{% extends "base.html" %}
{% block body %}

<div id="contenedor_imagen_servicios">

</div>

<div id="contenedor_secundario">
    <h2>Nuestro compromiso con su bienestar es evidente en cada rincón de Hotel Artemisa.</h2>
    <p>
        Desde nuestras lujosas playas donde disfrutara vistas panorámicas del océano 
        hasta nuestros espacios de bienestar especialmente diseñados para revitalizar cuerpo y mente, 
            cada aspecto de su estadía ha sido meticulosamente planificado para ofrecer una experiencia inolvidable. 
            Diseñado para el disfrute en familia o amigos, el predio cuenta con diversas actividades disponibles
            a todas horas. Contamos con staff capacitado para garantizar una experiencia de lujo.
        </p>
</div>

<hr class="divider">

<h2 class="titulo_presentacion"> Servicios y amenities</h2>

<div class="contenedor_servicios">
    <div class="caja_servicio_izquierda">
        <h3 class="nombre_servicio_izquierda">Piscina</h3>
        <p class="texto_servicio_izquierda">La piscina cuenta con bar integrado donde podrás disfrutar
            de las bebidas de tu preferencia, así como también una zona donde podrás asistir a también nuestras
            clases de aeróbics acuáticos, ejercicios que combinan movimiento y flexibilidad con la tranquilidad
            de flotar en el agua rodeados de un hermoso follaje tropical. <br>
            En estas sesiones gratuitas, un instructor le guiará a través de los ejercicios con música animada para 
            disfrutar de una experiencia divertida y vigorizante.<br>
            El horario de la piscina es de 8:00 a 22:00.
        </p>
    </div>
    <div class="caja_servicio_derecha">
        {% with nombre_carrusel='carrusel_piscina', 
        imagenes=['/images/pileta3.webp', '/images/pileta1.jpg','/images/pileta2.jpg'], cantidad_diapositivas=3 , tipo_imagen='imagenes_carruseles_servicio', pasadores=True %}
        {% include 'carrusel.html' %}
        {% endwith %}
    </div>
</div>

<hr class="divider">

<div class="contenedor_servicios">
    <div class="caja_servicio_izquierda ">
        {% with nombre_carrusel='carrusel_restaurant_noche', 
        imagenes=['/images/restaurante2.jpg', '/images/restaurante3.jpg'], cantidad_diapositivas=2 , tipo_imagen='imagenes_carruseles_servicio', pasadores=True %} 
        {% include 'carrusel.html' %}
        {% endwith %}
    </div>
    <div class="caja_servicio_derecha">
        <h3 class="nombre_servicio_derecha">Restaurante Apolo</h3>
        <p class="texto_servicio_derecha">A la par de los mejores restaurantes de Copacabana, Hotel Artemisa
            ofrece experiencias gastronómicas para todos los gustos. Nuestro personal experimentado trae vivos todos
            los colores y sabores de Copacabana.<br> Los huéspedes del hotel pueden disfrutar de una excelente cena en el
            restaurante donde podrán saborear la cocina tropical.
            Ubicado en el último piso, abierto en el horario de 18:00 a 00:00,
            donde se pueden deleitar con nuestra amplia variedad de platos y tragos de autor.
        </p>
    </div>
</div>

<hr class="divider">

<div class="contenedor_servicios">
    <div class="caja_servicio_izquierda ">
        <h3 class="nombre_servicio_izquierda">Cafetería</h3>
        <p class= "texto_servicio_izquierda">También contamos con una cafetería/pastelería para que pueda
            comenzar su día en Copacabana con su café recién hecho favorito y unos deliciosos dulces. 
            Podrán disfrutar de nuestras ricas meriendas de 14:30 a 19:00. 
            Las opciones gastronómicas son infinitas en nuestro hotel, así que asegúrese de visitar todos 
            nuestros restaurantes y disfrutar de una aventura 
            culinaria como ninguna otra que se pueda encontrar en Copacabana.<br>
            El desayuno tipo buffet se sirve de 6:30 a 10:00 en el restaurante de planta baja.
        </p>
    </div>
    <div class="caja_servicio_derecha">
        {% with nombre_carrusel='carrusel_cafeteria', 
        imagenes=['/images/restaurante1.jpg', '/images/restaurante4.jpeg'], cantidad_diapositivas=2 , tipo_imagen='imagenes_carruseles_servicio', pasadores=True %} 
        {% include 'carrusel.html' %}
        {% endwith %}
    </div>
</div>

<hr class="divider">

<div class="contenedor_servicios">
    <div class="caja_servicio_izquierda ">
        {% with nombre_carrusel='carrusel_spa', 
        imagenes=['/images/spa1.jpg', '/images/spa2.jpg', '/images/spa3.jpg'], cantidad_diapositivas=3 , tipo_imagen='imagenes_carruseles_servicio', pasadores=True %}
        {% include 'carrusel.html' %}
        {% endwith %}
    </div>
    <div class="caja_servicio_derecha">
        <h3 class="nombre_servicio_derecha">Servicio de spa</h3>
        <p class="texto_servicio_derecha" > Tanto en el hotel como en la isla privada contamos con servicio de Spa, 
            donde se ofrece una experiencia sensorial incomparable,
            desde tratamientos faciales rejuvenecedores hasta masajes relajantes realizados por expertos terapeutas.
            Sumérgete en nuestras piscinas climatizadas, sauna y jacuzzi, y déjate llevar por la armonía y el lujo en cada momento.
        </p>
    </div>
</div>

<hr class="divider">

<div class="contenedor_servicios">
    <div class="caja_servicio_izquierda ">
        <h3 class="nombre_servicio_izquierda">Flamingo Island </h3>
        <p class= "texto_servicio_izquierda"> Explore las playas cercanas Flamingo Beach y Wind Creek, solo para adultos. 
            En minutos, el taxi acuático de nuestro hotel lo llevará a nuestra isla privada de 40 acres, 
            donde los flamencos deambulan libremente y le esperan tratamientos relajantes en nuestro Spa.
            <br>Y, con la gran variedad de restaurantes y bares que sirven de todo, desde cócteles 
            artesanales hasta filetes auténticos, la experiencia gastronómica perfecta nunca está lejos.
        </p>
    </div>
    <div class="caja_servicio_derecha">
        {% with nombre_carrusel='carrusel_flamingo', 
                imagenes=['/images/flamingo1.jpg', '/images/flamingo2.jpg'], cantidad_diapositivas=2 , tipo_imagen='imagenes_carruseles_servicio', pasadores=True %}
            {% include 'carrusel.html' %}
        {% endwith %}
    </div>
</div> 

<hr class="divider">

<div class="contenedor_servicios">
    <div class="caja_servicio_izquierda ">
        {% with nombre_carrusel='carrusel_petcare', 
        imagenes=['images/petCare2.jpg','images/petCare1.jpg', 'images/petCare3.jpg'], cantidad_diapositivas=3 , tipo_imagen='imagenes_carruseles_servicio', pasadores=True %}
        {% include 'carrusel.html' %}
        {% endwith %}
    </div>
    <div class="caja_servicio_derecha">
        <h3 class="nombre_servicio_derecha">Servicio pet-care </h3>
        <p class="texto_servicio_derecha"> Con el servicio de guardería para mascotas puedes salir a explorar la ciudad 
            teniendo la seguridad de que tu amigo peludo estará recibiendo los mejores cuidados en nuestro hotel.<br>
            También puedes disfrutar con tu mascota en las áreas de juego designadas para su entretenimiento, las mismas
            se dividen en zona de gatitos y zona de perritos. 
        </p>
    </div>
</div> 

{% endblock %}