{% extends "base.html" %}

{% block body %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserva Exitosa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="message">
            <p>Tu reserva está pendiente</p>
            <p>En breves nos comunicaremos para confirmarla</p>
            <p>¡Gracias por elegir Hotel Artemisa!</p>
            <br>
        </div>
        <a href="/" class="button">Volver a Inicio</a>
    </div>
</body>
</html>

{% endblock %}